html {
  height: 100%;
}
body {
  margin: 0%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #f6f5ff;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 2;
}
#main {
  flex: 3;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

#header-info {
  flex: 1;
}

#avatar {
  padding: 16px 16px 0px 16px;
}

#avatar img {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 140px;
}

h1 {
  margin-bottom: 10px;
}

p {
  color: black;
}

#short {
  padding: 2rem 0rem 0rem 0rem;
}

#short h2 {
  font-size: 32px;
  color: rgb(22, 142, 186);
  position: absolute;
}

#short p {
  font-size: 0.9em;
  padding-top: 50px;
}

#motto {
  margin: 0;
  text-align: left;
}

#motto span {
  font-weight: bold;
  color: blue;
}

.favorite {
  font-weight: bold;
  color: darkgreen;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  font-size: large;
}

#top-menu-bar li {
  display: inline;
  padding: 0;
  margin: 0;
}

#top-menu-bar a {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 4px 0;
  display: inline-block;
  color: #fff;
  border-radius: 1.2em;
}

#top-menu-bar a:visited {
  color: #fff;
}

#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

#top-menu-bar a.active {
  color: #334455;
  background: yellow;
}

.page {
  display: none;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 0 10px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 0 1px;
}

.page h1 {
  margin: 0 0 10px 0;
  color: green;
  font-size: 1.5em;
}

.page h2 {
  margin: 0 0 10px 0;
  color: green;
}

#side-menu {
  flex: 1;
  padding: 0px 15px 0px 15px;
}
#side-menu > section {
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 0 1px;
}
#side-menu > section h3 {
  margin: 0 0 10px 0;
  color: green;
  font-size: 1.5em;
}

#contact .form-row {
  padding: 4px 0;
  text-align: left;
}

.submit {
  padding: 4px 4px 2px 0px;
}

#languages {
  padding-bottom: 20px;
}

#languages table {
  width: 50%;
  border-collapse: collapse;
}

#languages table th,
#languages table td {
  border: 1px solid gray;
  padding: 5px 0 0 5px;
}

#footer-dark {
  text-align: center;
  background-color: #334455;
  color: #fff;
  font-size: medium;
}

#footer-dark a {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 4px 0;
  display: inline-block;
  color: #fff;
}

#footer-dark a:visited {
  color: #fff;
}

#footer-dark a:hover {
  text-decoration: underline;
}

.line {
  display: block;
  width: 120px;
  height: 0.8px;
  background-color: blue;
  margin-bottom: 10px;
}
